# Variáveis de ambiente para execução local
PORT=3333
NODE_ENV=development

# Consulte docs/mongodb.md para instruções completas sobre a string de conexão
MONGO_URI=mongodb://localhost:27017/mini_projeto_fullstack

# Variáveis de ambiente para execução em produção
MONGO_URI_PROD=mongodb+srv://gabrieltsantana_db_user:Trindade31@minicluster.wru3o8p.mongodb.net/?retryWrites=true&w=majority&appName=minicluster

# Secret para geração de tokens JWT (substitua em produção)
JWT_SECRET=dev-secret-change-me
